@import "tailwindcss";

:root {
 --primary-orange:#E04420;
 --black:#1C1C1C;
 --electric-blue:#341CD6;
 --light-blue:#00A9F2;
 --purple:#D5B7FF;
 --egg-white:#EBEBEB;

 --font-chillax: var(--font-chillax);
 --font-poppins: var(--font-poppins);
 --font-vcr: var(--font-vcr);


}

body {
 background:var(--egg-white);
 color:var(--black);
 font-family:var(--font-poppins);
 min-height:100vh;
}
